#############################
# Node
#############################

node_modules/
dist/
build/

#############################
# React
#############################

.env
.env.local

#############################
# Spring Boot
#############################

target/
*.class
*.log

#############################
# IntelliJ
#############################

.idea/

#############################
# VS Code
#############################

.vscode/

#############################
# OS
#############################

.DS_Store
Thumbs.db

#############################
# Scanner Reports
#############################

scanner-tools/reports/*
backend/src/main/resources/reports/*