*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#081420;

}

.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#081420,#0d1b2a);

}

.login-card{

width:420px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 15px 40px rgba(0,0,0,.4);

text-align:center;

}

.login-card h1{

color:#1565c0;

margin-bottom:10px;

}

.login-card p{

margin-bottom:25px;

color:#666;

}

.login-card input{

width:100%;

padding:15px;

margin:10px 0;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}

.login-card button{

width:100%;

padding:15px;

background:#1565c0;

color:white;

border:none;

border-radius:8px;

font-size:17px;

cursor:pointer;

margin-top:20px;

}

.login-card button:hover{

background:#0d47a1;

}

.login-card span{

color:#1565c0;

cursor:pointer;

font-weight:bold;

}