/* .layout {
  display: flex;
}

.content {
  flex: 1;
  min-height: 100vh;
  background: #f3f4f6;
  padding: 25px;
} */
 .layout {
   display: flex;
 }

 .content {
   flex: 1;
   min-height: calc(100vh - 70px);
   background: #f4f7fc;
   padding: 30px;
   margin-left: 240px;
 }

 @media (max-width: 768px) {
   .content {
     margin-left: 0;
     padding: 20px;
   }
 }